# Core ML
scikit-learn
xgboost
joblib
torch
torchvision

# Data processing
pandas
numpy
pillow
pyyaml

# Web backend
fastapi
uvicorn

# Frontend
streamlit
requests

# Optional, but useful
matplotlib
seaborn

